:root {
  --bg-color: rgb(248, 245, 242);
}

body {
  margin: 2em 0 0 2em;
  font-family: 'EB Garamond', serif;
  font-size:1em;
  background-color: var(--bg-color);
/*  background-image: url(images/page_bg.jpg);
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-blend-mode:normal; */
}

a {
  /*text-underline-offset: .25em;
  text-decoration:underline dashed #666;*/
  color: #000000;
  text-decoration:none;
  background-color: var(--bg-color);
}

.source {
  font-size:.75em;
  text-align:right;
  margin:-2em 0 1em 3em;
  padding:0;
}

.center-this {
  margin: 0 auto;
  text-align:center;
}

img {
  width:100%;
  border:double solid #000;
  margin:1em 0;
}

.manicule {
  width:2em;
  margin:0;
  padding: 0;
  position:relative;
  top:.25em;
}

.img-1em {
  width:1em;
}

.img-2em {
  width:2em;
}

.img-4em {
  width:4em;
}

.img-8em {
  width:8em;
}

.img-16em {
  width:16em;
}

.stars {
  height:4em;
  width:10em;
  padding-bottom:2em;
}

p {
  margin:15px 0 0 0;
}

.gray {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#title,
#title a {
  color:rgb(223, 11, 11);
  font-family: 'Press Start 2P', cursive;
  font-size:1.25rem;
  text-decoration: none;
  background-color: var(--bg-color);
  position:sticky;
  left:40px;
  top:40px;
  padding:5px 0px;
  width:min-content;
  z-index:3;
}

.content {
  margin:2em 0 2em 1em;
  width:36em;
  line-height:1.5em;
}

/* .content a {
  background-color: var(--bg-color);
}
  */

.highlighter {
  background-color: rgba(255, 240, 155, 0.3);
  text-decoration:underline solid orange;
  text-underline-offset: .25em;
}

.article p {
  text-indent:1.25em;
}

.firstpara::before {
  content:"¶ ";
}

p.firstpara {
  text-indent:0;
}

.content::after {
  font-size:.75em;
  font-family: 'Press Start 2P', cursive;
  content:"© reinhart mmxxiv";
}

.article::first-line {
  color:rgb(224, 18, 18);
  text-transform:uppercase;
}

@media (max-width:700px) {
  .content {
    width: 90%;
    margin-right:2em;
    margin-left:auto;
  }
}

.inwhich {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:1em;
  width:85%;
  font-style:italic;
}

.inwhich::first-line {
  text-transform:capitalize;
}

.date {
  /* margin:2em 2em; */
  text-transform:uppercase;
  background-color: rgba(255, 221, 221, 0.4);
  font-weight:600;
  font-size:0.8em;
  font-family: 'Press Start 2P', cursive;
}

.date a {
  background-color: red;
}

.blurb {
  margin-bottom:2em;
}

.blurb::after {
  content:"";
  font-size:1rem;
}

a .blurb {
  text-decoration:none;
  background-color: var(--bg-color);
}

.asterism {
  text-align:center;
  margin-bottom:1em;
 /* content:"⁂"; */
}

.logo_pm {
  height:3em;
  width:3em;
}

.img-flex-lineup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin:0;
    max-width: 700px;
    gap:0;
  }