:root {
  --bg-color: rgb(248, 245, 242);
}

body {
  margin: 0 1.5em;;
  font-family: 'EB Garamond', serif;
  font-size:1em;
  background-color: var(--bg-color);
  /* background-image: url(images/bg_halftone_opac15.png);
  background-attachment: fixed;
  background-blend-mode:multiply; */
  /* filter:opacity(80%); */
}

a {
  color: #070707;
  text-decoration:none;
  background-color: var(--bg-color);
}

.source {
  font-size:.75em;
  text-align:right;
  margin:-2em 0 1em 3em;
  padding:0;
}

.center-this {
  margin: 0 auto;
  text-align:center;
}

.align-right {
  margin: 0;
  margin-right:4em;
  text-align:right;
}

img {
  width:100%;
  margin:1em 0;
}

.manicule {
  width:2em;
  margin:0 0 0 .4em;
  padding: 0;
  position:relative;
  top:.25em;
}

.img-1em {width:1em;}
.img-2em {width:2em;}
.img-3em {width:3em;}
.img-4em {width:4em;}
.img-8em {width:8em;}
.img-10px {width:10px;}
.img-16em {width:16em;}

.pillcrow {
  margin:0;
  padding:0;
  height:1.25em;
  width:auto;
}

.stars {
  height:4em;
  width:10em;
  padding-bottom:2em;
}

p {margin:.5em 0 0 0;}

blockquote {color:#752626;}

/*
blockquote {
  border-left:1em solid rgba(255, 232, 155, 0.7);
  text-indent:-2.5em;
}

blockquote::before {
  content: "❝";
  font-size:5em;
  position:relative;
  left:0em;
  top:.5em;
  color:rgba(201, 154, 122, 0.699);
}
*/

.gray {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#title, #title a {
  color:rgba(223, 11, 11);
  font-family: 'Press Start 2P', cursive;
  font-size:1.25rem;
  text-decoration: none;
  background-color: var(--bg-color);
  position:sticky;
  margin:0 auto 1em auto;
  display:block;
  top:1em;
  padding:.5em;
  width:min-content;
  z-index:3;
  border-radius: 20px;
  border:1px solid rgba(202, 43, 43, 0.123);
  box-shadow: -3px 3px 3px rgba(83, 62, 62, 0.116);
}

#title::before {
  content: "¶.MONSTER/";
}

.description {
  font-family: 'Press Start 2P', cursive;
  font-size:.6em;
  margin:0 auto 2em auto;
  padding:1em;
  text-align:center;
  width:85%;
  color:#0000006e;
  border:1px dashed #00000023;
  border-radius:20px;
  background-color: #d25b5b09;
}

.content {
  width:34em;
  line-height:1.5em;
  margin:0 auto;
  display:block;
  padding:1.5em 2.5em 0 2.5em; /* for border */
  border:1px dashed #ffffff;
  border-top:0;
  /* border-radius:8px; */
  /* border-right:1px solid #75262621; */
  background-color: var(--bg-color);
}

.content::after {
  font-size:.75em;
  font-family: 'Press Start 2P', cursive;
  content:"© reinhart mmxxiv";
}

/* .content a {
  background-color: var(--bg-color);
}
  */

/* FOR DROPDOWN MENU!! */

.dropdown {
  display:block;
  margin:0 auto;
  text-align:center;
  font-size:4em;
  color:red;
  text-decoration: none;
}

.highlighter {
  background-color: rgba(255, 240, 155, 0.3);
  text-decoration:underline solid orange;
  text-underline-offset: .25em;
}

.highlighter::after {content:" ➹"}

.article {
  text-indent:1.25em;

}

.article::first-line {
  color:rgb(224, 18, 18);
  text-transform:uppercase;
}

.firstpara::before {content:"¶ ";}

p.firstpara {text-indent:0;}

.month {
  font-size:1em;
  font-family: 'Press Start 2P', cursive;
  text-transform:uppercase;
  margin:0 0 1.5em 0;
  color:rgba(161, 71, 71, 0.384);
  text-align:center;
}

.month::after, .month::before {
  content:" ×———× "
}

iframe {
  /* aspect-ratio:16 / 9; */
  width:100%;
}


@media (max-width:43em) {
  .content {
    width: 90%;
    border:none;
    padding:0;
  }

  #title {
    margin:0 auto 2em auto;
  }
}

@media (max-width:500px) {
  .month {font-size:.9em;}
  .month::after, .month::before {
    content:" × "
  }
}

.inwhich {
  margin:1em auto 0 auto;
  text-align:center;
  width:85%;
  font-style:italic;
}

.inwhich::first-line {
  text-transform:capitalize;
}

.date {
  /* margin:2em 2em; */
  text-transform:uppercase;
  background-color: rgba(255, 221, 221, 0.4);
  /* background: linear-gradient(90deg, rgba(255,221,221,1) 0%, rgba(255,255,255,0) 100%); */
  font-weight:600;
  font-size:0.75em;
  font-family: 'Press Start 2P', cursive;
  border-right: var(--bg-color) dashed .35em;
  /* another good red - #d25b5b */
}

.date a {
  background-color: red;
}

.blurb {
  margin-bottom:2em;
}

.blurb::after {
  content:"";
  font-size:1rem;
}

a .blurb {
  text-decoration:none;
  background-color: var(--bg-color);
}

.asterism {
  text-align:center;
  margin-bottom:1em;
}

.asterism::after {content:"⁂";}

.fleuron {
  text-align:center;
  margin:1em 0;
  font-size:1em;
}

.fleuron::after {content:"❦";}

.textred {color:red;}

.logo_pm {
  height:3em;
  width:3.01em;
}

.img-flex-lineup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin:0;
    max-width: 700px;
    gap:0;
  }

/* footer {margin:5.5em 0;} */
  
/* Scrollbar styles */
::-webkit-scrollbar {
  width: .5em;
  height: .5em;
  }
  
::-webkit-scrollbar-track {border: 1px solid #ffffff00;}
::-webkit-scrollbar-thumb {background: #d25b5b;}
::-webkit-scrollbar-thumb:hover {background: #944040;}